body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

.heatmap {
  width: 650px;
  height: 150px;
  display: block;
  margin-left: auto;
}

.pop-up-image {
  width: 90%;
  border: 1px solid #ddd;
  height: 120px;
  padding: 5px;
  border-radius: 8px;
}
.pop-up-image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.suggestions-wrapper {
  background-color: aliceblue;
}
.suggestions {
  list-style-type: none;
  padding: 2px;
  margin: 2px;
}

li {
  font-family: "Garamond(serif)", "Gill Sans", Calibri, "Trebuchet MS",
    sans-serif;
  padding: 0;
  margin: 0;
}
.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

li:hover {
  background-color: antiquewhite;
}

.active {
  background-color: antiquewhite;
}

.mapboxgl-ctrl-geocoder--suggestion-title {
  font-weight: bold;
}

.mapboxgl-ctrl-geocoder--button {
  background-color: gainsboro;
}
.edit {
  border: 1px solid #ddd;
  border-radius: 4px;
  opacity: 0.5;
  width: 25px;
}
.edit:hover {
  border: 1px solid beige;
  background-color: antiquewhite;
  border-radius: 4px;
  padding: 1px;
  width: 30px;
}

:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: rgb(223, 215, 215);
  /* Default mark color*/
  --mark-color: #aaaaaa;
}

.customSlider {
  /* max width of your slider */
  max-width: 700px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 10px;
  /* thickness of the track */
  height: 20px;
  /* default color of your track */
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--main-color);
}

.customSlider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: var(--main-color);
  /* shape of the thumb: circle */
  width: 40px;
  height: 40px;
  border-radius: 80%;
  /* remove default outline when selected */
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}

.customSlider-mark {
  cursor: pointer;
  top: 10px;
  width: 3px;
  height: 24px;
  background-color: var(--mark-color);
}

.sliderContainer {
  display:inline-block;
  justify-content: center;
  padding-top: 25px;
  /* position: absolute;
  left: 50%;
  top: 50%; */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align:center;
  vertical-align: middle;


}

.semantics {
  text-align:center;
  vertical-align: middle;
  padding-top: 20px;

}


.container {
  /* display: flex;  */
  height: 25vh;
  justify-content: flex-start;
  -items: center;
  align-items: start;
  overflow-y: hidden;
  overflow-x: hidden;
  /* background-color: #c8b7a6; */
  width: 10vw;
  max-width: 20%;
}
.offset {
  width: 30%;
}
.main-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
}
.item {
  width: 8em;
  height: 10vh;
  min-height: 10vh;
  max-height: 10vh;
  display: block;
  transition: width 2s;
}
.item:hover {
  width: 15em;
}
.item img {
  width: 100%;
  height: 100%;
  touch-action: pan-y;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 0.5em;
}

.fav {
  color: white
}
