body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

.suggestions-wrapper {
  background-color: aliceblue;
}
.suggestions {
  list-style-type: none;
  padding: 2px;
  margin: 2px;
}

li {
  font-family: "Garamond(serif)", "Gill Sans", Calibri, "Trebuchet MS",
    sans-serif;
  padding: 0;
  margin: 0;
}
.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

li:hover {
  background-color: antiquewhite;
}

.active {
  background-color: antiquewhite;
}

.mapboxgl-ctrl-geocoder--suggestion-title {
  font-weight: bold;
}

.mapboxgl-ctrl-geocoder--button {
  background-color: gainsboro;
}
