body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

.heatmap {
  width: 650px;
  height: 150px;
  display: block;
  margin-left: auto;
}

.pop-up-image {
  width: 90%;
  border: 1px solid #ddd;
  height: 120px;
  padding: 5px;
  border-radius: 8px;
}
.pop-up-image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.suggestions-wrapper {
  background-color: aliceblue;
}
.suggestions {
  list-style-type: none;
  padding: 2px;
  margin: 2px;
}

li {
  font-family: "Garamond(serif)", "Gill Sans", Calibri, "Trebuchet MS",
    sans-serif;
  padding: 0;
  margin: 0;
}
.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

li:hover {
  background-color: antiquewhite;
}

.active {
  background-color: antiquewhite;
}

.mapboxgl-ctrl-geocoder--suggestion-title {
  font-weight: bold;
}

.mapboxgl-ctrl-geocoder--button {
  background-color: gainsboro;
}
.edit {
  border: 1px solid #ddd;
  border-radius: 4px;
  opacity: 0.5;
  width: 25px;
}
.edit:hover {
  border: 1px solid beige;
  background-color: antiquewhite;
  border-radius: 4px;
  padding: 1px;
  width: 30px;
}

:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
  /* Default mark color*/
  --mark-color: #aaaaaa;
}

.customSlider {
  /* max width of your slider */
  max-width: 800px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 6px;
  /* default color of your track */
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--main-color);
}

.customSlider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: var(--main-color);
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 80%;
  /* remove default outline when selected */
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}

.customSlider-mark {
  cursor: pointer;
  top: 6px;
  width: 1.5px;
  height: 12px;
  background-color: var(--mark-color);
}

.container {
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  -items: center;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.offset {
  width: 30%;
}
.main-wrapper {
  display: flex;
  gap: 10px;
  width: 70%;
}
.item {
  width: 8em;
  height: 450px;
  display: block;
  transition: width 2s;
}
.item:hover {
  width: 40em;
}
.item img {
  width: 100%;
  height: 100%;
  touch-action: pan-y;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 0.5em;
}

/* body {
  background: #68a0b7;
} */

#containertwo {
  width: 100px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  margin-top: 70px;
}

.beer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fac92c;
  bottom: 0;
  height: 0;
  transition: 1500ms ease-in;
}

.fill {
  height: 100%;
}

:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #ea9602;
  right: 0;
}

.glass {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 10px #e8e4d9;
  border-top: solid 5px #e8e4d9;
  border-bottom: solid 30px #e8e4d9;
  border-radius: 5px;
  transform: perspective(500px) rotateX(-30deg);

  &:before,
  &:after {
    content: "";
    position: absolute;
    border-radius: 10px;
    background: #fff;
    width: 10px;
  }

  &:before {
    height: 20%;
    left: 10px;
    top: 5%;
    z-index: 1;
  }

  &:after {
    height: 70%;
    right: 10px;
    top: 5%;
  }
}

.head {
  position: absolute;
  width: 60%;
  height: 60px;
  background: #fff;
  bottom: -5px;
  left: 5px;
  border-radius: 50%;
  z-index: -1;
  transition: 1600ms ease-in;

  &.active {
    bottom: 82%;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    background: #fff;
    border-radius: 50%;
  }

  &:before {
    width: 30px;
    height: 30px;
    left: 50px;
    top: 15px;
  }

  &:after {
    width: 40px;
    height: 40px;
    left: 67px;
    top: 9px;
  }
}

.pour {
  position: absolute;
  width: 20px;
  height: 200%;
  background: #fac92c;
  border-radius: 20px;
  left: 10px;
  z-index: -1;
  bottom: 150%;
  transition: 300ms ease-in;

  &.pouring {
    bottom: 0%;
  }

  &.end {
    height: 0;
  }
}
